/Pliki
/RAPORT_OCENA_ROCZNA_OP.md
/observability
/2026Q2_Artykuł nr 1.docx
/D2GuiViewerEditor
/infra
/D2ApiViewerEditor
LiczMiCzas/przyklad-azure-export-taski.csv
LiczMiCzas/przyklad-azure-export.csv
LiczMiCzas/README.md
/LiczMiCzas/v stabilna
/LiczMiCzas/liczmiczas-dane.json
/LiczMiCzas/liczmiczas-dane________testuser.json
/LiczMiCzas/przyklad-azure-export-us-taski.csv
/Mass/AddressWindow/.idea
/LiczMiCzas
/Mass
/Rokoko
